
@import url("./normalize.css");
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

/*Variables*/
@import url("./var.css");

/*Type-color*/
@import url("./type.css");

html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p{
  margin:0;
  padding:0;
}

body{
  padding:0;
  margin:0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--font-secondary);
  height:100vh;
  /* background-color: #e8f7f7; */
}

/*utils*/
.text-center{
  text-align: center;
}

.wrapper{
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  /* flex-direction: row; */
  /* background-color:#4F4F4F; */
  height:70px;
  width:100%;
  padding:1rem;
}

.pokeball{
  cursor:pointer;
  animation: .6s 2, infinite shake;
}

.title{
  color: var(--color-primary);
  font-family: 'Oswald', sans-serif;
  font-size: calc(2.5rem + 1vw);
  font-weight: 900;
  -webkit-text-stroke: #f7ffff 0.05rem;
}

.description {
  font-family: var(--font-secondary);
  text-align: center;
  font-size:calc(13px + 0.2vw);
  padding:1rem;
  color: #4F4F4F;
  font-weight: 500;
  max-width: 800px;
  line-height: 1.7;
  font-style: italic;
}

.filter {
  overflow: hidden;
  /* visibility: hidden; */
  justify-content: space-between;
}

.search,
.typeSelect {
  width: 100px;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid var(--gray);
}

.search:focus,
.typeSelect:focus {
  outline: none;
}

.collection {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1 100%;
}

.hidden {
  margin: 1rem 0;
  padding: 1rem;
  width: 150px;
  height: 200px;
  border-radius: 1rem;
  background-image: url('../img/back2.png');
  background-position: center;
  background-size: cover;
}

.card {
  font-size: var(--normal);
  margin: 1rem 0;
  padding: 1rem 1rem;
  width: 45%;
  height: 30%;
  /* border-radius: 0.8rem;
  background: var(--gradient-cyan);
  box-shadow: var(--card-shadow); */
  border-radius: 30px;
  background: linear-gradient(225deg, #e8f7f7, #c3d0d0);
  box-shadow:  -7px 7px 22px #bbc7c7,
                7px -7px 22px #f7ffff;
  /* border-radius: 25px;
  background: linear-gradient(225deg, #e8f7f7, #c3d0d0);
  box-shadow:  -5px 5px 10px #c5d2d2,
                5px -5px 10px #edfcfc; */
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.name{
  font-family: var(--font-primary);
  font-weight: 800;
  color: #4F4F4F;
  font-size: calc(15px + 1vw);
  margin: 0;
  text-align: center;
  margin-bottom: 0.8rem;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

.Info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.Info p {
  display: flex;
  /* flex-direction: row; */
  border: 1.9px solid #4F4F4F;
  border-radius: 100%;
  width: calc(2rem + 0.8vw);
  height: calc(2rem + 0.8vw);
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.sprite {
  max-width: 96px;
  max-height: 96px;
  width: calc(60% + 1vw);
  height: calc(60% + 1vw);
}
.card:hover {
  animation: shake 0.5s;
  animation-iteration-count:0.5, 0, infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.type {
  margin: 0.2rem 0;
  width: 100%;
  height: 20%;
  border-radius: 1rem;
  display: flex;
  justify-content: space-around;
  color:#4F4F4F;
  font-size: 0.8rem
}

.type p{
  text-align: center;
  width: 45%;
  padding: 0.3rem 0.1rem;
  border-radius: 1rem;
}

.number{
  font-size:0.7rem;
}

.stats {
  width: 96%;
  margin: 1.5rem auto;
  padding: 0.8rem 0.5rem;
  border-radius:1rem;
  background-color: rgb(181, 253, 229);
  font-size: calc(0.3rem + 0.4vw);
  display: none;
  font-size: 0.6rem;
  font-weight: 400;
  color:#4F4F4F;
  box-shadow: var(--stats-shadow);
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  transform: rotateY(180deg);
}

.stats span {
  display: flex;
  justify-content: space-between;
  padding:0.5rem;
}

.team{
  font-family: var(--font-primary);
  width:100%;
  margin-top:4rem;
}

.fas{
  width: 10px;
  margin-right: 0.5rem;
}

svg {
  display: flex;
  position: absolute;
  top: 0;
  /* bottom: 0; */
  left: 0;
  z-index: -1;
}


@media (min-width: 768px) {
  .card{
    margin: 1rem 0;
    padding: 1rem;
    width: 30%;
    height: 30%;
    cursor: auto;
  }
  .filter{
    display: block;
  }
  .stats {
  transform: rotateY(0deg);
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
  }

  .Info{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .hidden {
    margin: 0.2rem;
    width: 240px;
    height: 360px;
    border-radius: 1rem;
  }
}

@media (min-width: 850px) {
  .stats {
    display: block;
    font-size: 0.9rem;
    font-weight: 300;
    cursor: auto;
  }
}

@media (min-width: 1024px) {
  .collection{
    width: 100%;
    margin:0 auto;
  }

  .card {
    margin: 1rem;
    width: 21%;
    height: 20%;
    justify-content: space-between;
    cursor: auto;
  }
  /* svg{
    top: -50px;
  } */
header{
  display: flex;
  justify-content: space-around;
}

.menu{
  display: flex;
}
  /* .title{
  margin: 0 auto;
  padding-top: 4rem;
  } */
  .description{
    margin: 0 auto;
  }

  .hidden {
    margin: 0.5rem;
    width: 15rem;
    height: 25rem;
  }
}
