/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');



:root{

  --color-primary:#E53935;
  --gradient-cyan: linear-gradient(90deg, rgba(155,191,200,1) 0%, rgba(184,228,232,1) 26%, rgba(192,237,240,1) 54%, rgba(0,212,255,1) 100%);
  --font-primary:'Oswald', sans-serif;
  --font-secondary:'Roboto Mono', monospace;
  --card-shadow:0 10px 30px -10px rgba(78, 78, 78, 0.4);
  
}

html{
   box-sizing: border-box;
}

*,  *::before, *::after {
   box-sizing: inherit;
}

p{
   margin:0;
   padding:0;
}

body{
   padding:0;
   margin:0;
   box-sizing: border-box;
   max-width: 100%;
   font-family: var(--font-secondary);
   height:100vh;
}


/*utils*/
.text-center{
   text-align: center;
}
/*end utils*/

.wrapper{
   height:auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
}

.main{
  width:100%;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:var(--color-primary) ;
}

.title {
  margin-top: 1.3rem;
  display: flex;
}

.title img {
  margin: 1rem;
}

.title h1 {
  margin: 0;
  color: var(--danger);
  font-family: 'Oswald', sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

.description {
  font-family: 'Roboto', sans-serif;
  width: 30%;
  text-align: center;
}

.filter {
  padding: 0.5rem 4rem;
  display: flex;
  justify-content: space-between;
}

.search,
.typeSelect { 
  width: 300px;
  padding: 0.5rem;
  border-radius: 1rem;
  border: 2px solid var(--gray);
}

.search:focus,
.typeSelect:focus {
  outline: none;
}

.collection {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1 100%;
}

.hidden {
  margin: 1rem 0;
  padding: 1.5rem;
  width: 350px;
  height: 450px;
  border-radius: 1rem;
  background-image: url("../img/back2.png");
  background-position: center center;
  background-size: cover;
}

.card {
  font-size: var(--normal);
  margin: 1rem 0;
  padding: 1rem 1rem;
  width: 45%;
  height: 30%;
  border-radius: 0.8rem;
  background-color: #c0edf252;
  box-shadow: var(--card-shadow);
}

.card h3{
  font-family: var(--font-primary);
  font-weight: 800;
  color: #4F4F4F;
  font-size: calc(12px + 1vw);
  margin: 0;
}

.Info {
  display: flex;
  /* flex-direction: column-reverse; */
  justify-content: space-between;
  align-items: center;
}

.Info p {
  display: flex;
  flex-direction: row;
  border: 1px solid #4F4F4F;
  border-radius: 100%;
  width: calc(2rem + 0.8vw);
  height: calc(2rem + 0.8vw);
  align-items: center;
  justify-content: center;
}

.sprite {
  max-width: 96px;
  max-height: 96px;
  width: calc(60% + 1vw);
  height: calc(60% + 1vw);
}

.type {
  margin: 0.2rem 0;
  width:100%;
  height: 20%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color:#4F4F4F;
}

.type p{
  text-align: center;
  width: 45%;
  padding: 0.3rem 0.1rem;
  border-radius: 1rem;
  background-color: var(--type);
}

.type p:nth-child(2){
  border: 1px solid cadetblue;
  background-color: transparent;
}

.stats {
  width: 90%;
  margin: 0 auto;
  padding: 0.8rem 0.5rem;
  border-radius:1rem;
  background-color: aquamarine;
  font-size: 0.6rem;
  display:none;
}

.stats span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.stats {
  width: 100%;
  padding: 1rem;
  border-radius:1rem;
  background-color: aquamarine;
  font-size: 0.6rem;
}

.stats span {
  display: flex;
  justify-content: space-between;
}

@media(min-width: 768px){
   .card{
      flex:1 calc(32% - 30px);
      margin-right: 1rem;
   }
   .stats {
    display: block;
  }
}

@media(min-width: 1024px){
  .card{
    flex: 1 cacl(22% - 20%);
  }
}



/**** 
  TODO
  *sacar clase text-center
  *Esta adaptable
  *Header arrancar
/
