
@import url("./normalize.css");
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

/*Variables*/
@import url("./var.css");

/*Type-color*/
@import url("./type.css");

html{
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p{
  margin:0;
  padding:0;
}

body{
  padding:0;
  margin:0;
  box-sizing: border-box;
  max-width: 100%;
  font-family: var(--font-secondary);
  height:100vh;
}

/*utils*/
.text-center{
  text-align: center;
}

.wrapper{
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main{
  width:100%;
  order: 3;
}

header {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: row;
  background-color: white;
  height:70px;
  width:100%;
  padding:1rem;
  order: 2;
  position: sticky;
  top: 0;
}

.pokemonTypes{
  width: 100%;
}

.pokeball{
  display: none;
  cursor:pointer;
  animation-name: shake;
  animation-duration: .6s;
  animation-iteration-count: 2, infinite;
}


.title{
  margin: 1rem auto 0 auto;
  color: var(--color-primary);
  font-family: 'Oswald', sans-serif;
  font-size: calc(2.5rem + 1vw);
  font-weight: 900;
}

.description {
  margin: 1rem 0rem;
  font-family: var(--font-secondary);
  width: 100%;
  text-align: center;
  font-size:calc(13px + 0.2vw);
  padding:1rem;
  color: #4F4F4F;
  font-weight: 500;
  max-width: 800px;
  line-height: 1.7;
  font-style: italic;
}
.hidden {
  width: 400px;
  height: 400px;
  background-color: red;
}
.filter {
  display: flex;
  justify-content: space-between;
}

.search,
.typeSelect {
  width: 48%;
  padding: 0.3rem;
  border-radius: 1rem;
  border: 2px solid #c4c4c4;
}

.search:focus,
.typeSelect:focus {
  outline: none;
}

.collection {
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  flex: 1 100%;
}

.hidden {
  font-size: var(--normal);
  margin: 1rem 0;
  padding: 1rem 1rem;
  width: 45%;
  border-radius: 0.8rem;
  background-image: url('../img/back2.png');
  background-position: center center;
  background-size: cover;
  flex-direction: column;
  display: flex;
}

.card {
  font-size: var(--normal);
  margin: 1rem 0;
  padding: 1rem 1rem;
  width: 45%;
  height: 30%;
  border-radius: 0.8rem;
  background: var(--gradient-cyan);
  box-shadow: var(--card-shadow);
  cursor: pointer;
}

.card h3{
  font-family: var(--font-primary);
  font-weight: 800;
  color: #4F4F4F;
  font-size: calc(15px + 1vw);
  margin: 0;
  text-align: center;
  margin-bottom: 0.8rem;
}

.Info {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
}

.Info p {
  display: flex;
  flex-direction: row;
  border: 1.9px solid #4F4F4F;
  border-radius: 100%;
  width: calc(2rem + 0.8vw);
  height: calc(2rem + 0.8vw);
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
}

.sprite {
  max-width: 96px;
  max-height: 96px;
  width: calc(60% + 1vw);
  height: calc(60% + 1vw);
}
.card:hover {
  animation: shake 0.5s;
  animation-iteration-count:0.5, 0, infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.type {
  margin: 0.2rem 0;
  width: 100%;
  height: 20%;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color:#4F4F4F;
  font-size: 0.8rem
}

.type p{
  text-align: center;
  width: 45%;
  padding: 0.3rem 0.1rem;
  border-radius: 1rem;
}

.number{
  font-size:0.7rem;
}

.stats {
  width: 96%;
  margin: 1.5rem auto;
  padding: 0.8rem 0.5rem;
  border-radius:1rem;
  background-color: rgb(181, 253, 229);
  font-size: calc(0.3rem + 0.4vw);
  font-weight: 700;
  color:#4F4F4F;
  box-shadow: var(--stats-shadow);
}

.stats span {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding:0.5rem;
}

.pages {
  display: flex;
  width: 100%;
  margin-top: 3rem;
  font-family: var(--font-primary);
  justify-content: center;
}

footer{ 
  display: flex;
  order: 4;
}

.team{
  font-family: var(--font-primary);
  width:100%;
  margin-top:4rem;
}



@media(max-width: 414px){
  header {
    order: 1;
  }

  .main{
    order: 3;
  }

  .title{
    order:2; 
  }

   .description{
  display: none;
  }

  button, input, optgroup, select, textarea {
    font-size: 70%;
}

.title{
    margin: 0.1rem auto 0 auto;
    font-size: calc(2.5rem + 0.5vw);
}

/*
  header {
    background-color: #FFFFFF;
  }

  .pokeball {
    display: none;
  }

  .pokemonTypes {
    margin: auto;
  }

  .search, .typeSelect {
    background-color: #cecece;
  }

  .search, .typeSelect {
  background-color: #cecece;
  }

  button, input, optgroup, select, textarea {
  font-size: 80%;
  }

  .description{
  display: none;
  }

  .Info {
  flex-direction: unset;
  }

  /* .stats {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin-top: 0.8rem;
    margin-bottom: 0rem;
    padding: 0.2rem;
    font-size: calc(0.4rem + 0.4vw);
  }

  .stats span {
  flex-direction: column-reverse;
  padding: 0.2rem;
  } */

@media(min-width: 768px){
  .card{
    flex:1 calc(32% - 30px);
    margin-right: 1rem;
  }
  .stats {
  display: block;
  }
}

@media(min-width: 1024px){
  .collection{
    max-width: 1200px;
    margin:0 auto;
  }
  .title{
  margin: 4rem auto 0 auto;
  }
  .description{
    margin:2rem 0rem;
  }
}



/****
  TODO
  *Header arrancar
  *js modal ver
/
